---
title: Function Writing (Practice Activity 3.1)
author: Megan Gibson
format:
    html:
        toc: true
        theme: default
embed-resources: true
---

In [10]:
%pip install palmerpenguins -qqq

Note: you may need to restart the kernel to use updated packages.
Note: you may need to restart the kernel to use updated packages.

In [11]:
import numpy as np
import pandas as pd
from sys import exit
from palmerpenguins import load_penguins
from plotnine import ggplot, aes, geom_point, geom_bar

1. Fill in the necessary code to write a function called `times_seven()`. The function should take a single argument (`x`) and multiply the input by 7.
  + This function should check that the argument is numeric.
  + This function should also excitedly announce (print) *“I love sevens!”* if the argument to the function is a 7.

In [12]:
def times_seven(x):

  if not isinstance(x, (float, int)):
    exit("Please enter a numeric value.")

  if x == 7:
    print("I love sevens!")

  return x*7

2. Write and run some *unit tests* for your `times_seven` function.  What happens if the input to the function is `[1, 3, 5, 7]`?

In [13]:
# If input is 1
times_seven(1)

7

In [14]:
# If input is 3
times_seven(3)

21

In [15]:
# If input is 5
times_seven(5)

35

In [16]:
# If input is 7
times_seven(7)

I love sevens!
I love sevens!

49

3. Consider the following function:

In [17]:
def add_or_subtract(first_num, second_num = 2, type = "add"):

  if (type == "add"):
    res = first_num + second_num
  elif (type == "subtract"):
    res = first_num - second_num
  else:
    exit("Please choose `add` or `subtract` as the type.")

  return res

**Without running the code**, predict if the following will produce:

a. 1

b. -1

c. 30

d. An error defined by the function `add_or_subtract()`

e. An error defined in a different function, which is called inside the `add_or_subtract()` function

In [ ]:
add_or_subtract(5, 6, type = "subtract")

add_or_subtract("orange")

add_or_subtract(5, 6, type = "multiply")


I think `add_or_subtract(5, 6, type = "subtract")` will produce -1, since that's what 5-6 is. The `second_num = 2` is just a placeholder until `second_num` is actually specified when calling the function.

I think `add_or_subtract("orange")` will produce an error defined by the function `add_or_subtract()` because it's not numeric, and numeric input is needed for the function to even work.

I think `add_or_subtract(5, 6, type = "multiply")` will produce an error defined by another function — the `exit()` function — because while 5 and 6 are both numbers, the "type" has to be either "add" or "subtract." "Multiply" is neither of those options.

4. Consider the following code:

In [18]:
first_num  = 5
second_num = 3

result = 8

result = add_or_subtract(first_num, second_num = 4)

result_2 = add_or_subtract(first_num)


In your Global Environment, what is the value of...

a. `first_num`     **Answer: 5**

b. `second_num`    **Answer: 3**

c. `result`        **Answer: 9. `Result` was originally defined as 8, but that got overwritten by `result = add_or_subtract(first_num, second_num = 4)`. Now `result` is 9 because that's what you get when you add 5 and 4 (adding being the default type, and 5 being the globally defined `first_num`).**

d. `result_2`      **Answer: 7. The function checks the local environment first, or within the function itself, which defines `second_num` as 2 unless otherwise specified when calling the function. Since the default "type" is to "add," then 5 and 2 will be added to make 7.**