---
title: Iteration (Practice Activity 3.2)
author: Megan Gibson
format:
    html:
        toc: true
        theme: default
embed-resources: true
---

0. Load the `penguins` dataset from the `palmerpenguins` library, as well as any other libraries you need.

In [3]:
import pandas as pd
import numpy as np
from palmerpenguins import load_penguins
penguins = load_penguins()
penguins.head()

  species     island  bill_length_mm  ...  body_mass_g     sex  year
0  Adelie  Torgersen            39.1  ...       3750.0    male  2007
1  Adelie  Torgersen            39.5  ...       3800.0  female  2007
2  Adelie  Torgersen            40.3  ...       3250.0  female  2007
3  Adelie  Torgersen             NaN  ...          NaN     NaN  2007
4  Adelie  Torgersen            36.7  ...       3450.0  female  2007

[5 rows x 8 columns]

1. Write a function that takes in information about a penguin, and returns one of the following definitions:

*   "Big Mouth Billy": Male penguins with bill length times bill depth greater than 800.
*   "Dainty Daisy": Female penguins with flipper length less than 5% of body mass.
*   "Average Adelie:" Any Adelie penguins that do not fall into either category.
*   "Other": Any penguins that do not fall into any of the categories.

In [14]:
def classify(species=None, island=None, bill_length_mm=None, bill_depth_mm=None, 
flipper_length_mm=None, body_mass_g=None, sex=None, year=None):
    if bill_length_mm and bill_depth_mm and bill_length_mm*bill_depth_mm > 800 and sex=="male":
        return("Big Mouth Billy")
    elif flipper_length_mm and body_mass_g and flipper_length_mm/body_mass_g < 0.05 and sex=="female":
        return("Dainty Daisy")
    elif species=="Adelie" and sex:
        return("Average Adelie")
    else:
        return("Other")

2. Use an iterable function to create a new variable called `category_name` that adds these labels.

In [17]:
penguins["category_name"] = penguins.apply(lambda x: classify(x["species"], x["island"], 
    x["bill_length_mm"], x["bill_depth_mm"], x["flipper_length_mm"], x["body_mass_g"], x["sex"],
    x["year"]), axis=1)

3. Run the following code to find the counts for each type.

In [19]:
penguins.value_counts("category_name")

category_name
Average Adelie     127
Other               84
Big Mouth Billy     71
Dainty Daisy        62
dtype: int64